<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks_track': 'reload' %>
    <!-- webpacker版　仮導入 -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- アラートの実装 -->
    <% flash.each do |key,value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <nav class="navber navber-default navber-fixed-top navber-transparent">
      <div class="container">
        <%= link_to root_path do %>
        <span><%= inage_tag "#", class:"navber-brand" %></span>
        <% end %>
        <ul class="nav navber-nav navber-right">
          <% if logged_in? %>
            <li>
              <%= link_to projects_index_path do %>
                <%= image tag "#" %>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "#" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_path do %>
                <%= image_tag "#" %>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <%= image_tag "#" %>
              <% end %>
            </li>
          <% end %>
        </ul>
    
    <%= yield %>
    <!-- jQuery実装 -->
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
